<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
  <section class="section">
    <div class="container">
    <h1 class="title is-1"> LINIO EXPRESS </h1>
    {% if user.is_authenticated %}
    <h1 class="title is-4"> ¡Bienvenido/a, {{  user.get_username }}! </h1>
    {% endif %}
    <hr>
    <p><u><h1 class="title is-4"> Productos </h1></u></p>
    <ul>
      {% for producto in object_list %}
        <li>
          <a href="{% url 'product-detail' producto.pk %}">
            {{ producto.nombre }}
          </a>
          - {{ producto.precio }}
        </li>
      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </ul>
    <hr>

    <u><a href="{% url 'home' %}">Volver a inicio</a></u>
    </div>
  </section>

  </body>

</html>
