<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> LINIO EXPRESS </h1>
    {% if user.is_authenticated %}
    <h4> ¡Bienvenido/a, {{  user.get_username }}! </h4>
    {% endif %}
    <hr>
    <h2> Productos </h2>
    <ul>
      {% for producto in object_list %}
        <li>
          <a href="{% url 'product-detail' producto.pk %}">
            {{ producto.nombre }}
          </a>
          - {{ producto.precio }}
        </li>
      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </ul>
    <hr>

    <a href="{% url 'home' %}">Volver a inicio</a>

  </body>
</html>
